@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;600;700&display=swap");

:root {
  --bold: 600;
  --color: black;
  --bg-color: hsl(0, 0%, 98%);
  --elements-bg-color: white;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --max-width: 1312px;
  --width: 280px;
  --h-padding: 3rem;
  --gap: 2rem;
}
.dark {
  --color: white;
  --bg-color: hsl(207, 26%, 17%);
  --elements-bg-color: hsl(209, 23%, 22%);
}
* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color);
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: var(--h-padding);
}

h2.error {
  text-align: center;
  color: var(--color);
}

svg {
  vertical-align: middle;
}
